#post {
    height: 21rem;
    padding: 0.8rem 2.4rem;
    border-radius: 0.8rem;
    background: var(--color-primary-darker);
    color: var(--color-title-in-primary);
    margin-bottom: 1.6rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#post .title {
    font: 700 2.4rem Roboto;
    color: var(--color-title-in-primary);
}

#post .content {
    font: 500 1.8rem Ubuntu;
    color: var(--color-text-in-primary);
    text-align: justify;
}